---
import Countdown from "../components/Counter";
import { apiUrl } from "../services/apiConfig";
import Layout from "../layouts/Layout.astro";
import { getAllEvents, getFightByEventId } from "../services/event";
import type { FighterAPI } from "../types/fighter-api";

const events = await getAllEvents();
const currentDate = new Date();

let counter = 0;
---

<Layout title="Events">
  {
    events.map(async (event) => {
      const fights = await getFightByEventId({ id: event.id });
      const eventDate = new Date(event.fightDate);
      if (eventDate < currentDate) {
        return (
          <div>
            <h2>{event.title}</h2>
            <p>Este evento ya ocurrió</p>
          </div>
        );
      } else {
        return (
          <div class="container">
            <div>
              {fights.map((fight, index) => {
                if (index == 0) {
                  let fighter1 = fight.fighters[0] as FighterAPI;
                  let fighter2 = fight.fighters[1] as FighterAPI;

                  if (fighter1.id != fight.winner) {
                    fighter1 = fight.fighters[1];
                    fighter2 = fight.fighters[0];
                  }
                  return (
                    <div class="fighterContainer">
                      <p>{fight.title}</p>
                      <div class="imgContainer">
                        {fighter1.fighterPhoto == null ? (
                          <img
                            src={`${apiUrl}ufc/v1/uploads/img/Default.png`}
                          />
                        ) : (
                          <img
                            src={`${apiUrl}ufc/v1/uploads/img/${fighter1.fighterPhoto}`}
                          />
                        )}
                        {fighter2.fighterPhoto == null ? (
                          <img
                            src={`${apiUrl}ufc/v1/uploads/img/Default.png`}
                          />
                        ) : (
                          <img
                            src={`${apiUrl}ufc/v1/uploads/img/${fighter2.fighterPhoto}`}
                          />
                        )}
                      </div>
                      <p>
                        {fighter1.name} vs {fighter2.name}
                      </p>
                    </div>
                  );
                }
              })}
            </div>
            <div>
              <h2>{event.title}</h2>
              <span>Tiempo para el evento</span>
              <Countdown targetDate={event.fightDate} client:visible />
            </div>
          </div>
        );
      }
    })
  }
  <style>
    .container {
      display: flex;
    }
    .imgContainer {
      display: flex;
    }

    .imgContainer img {
      width: 100px;
      height: auto;
    }
    .fighterContainer {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
  </style>
</Layout>
