---
import { getEventById } from "../services/event";

import Countdown from "./Counter";

const id = 1;

let event;

if (id) {
  event = await getEventById({ id: id });
}

function formatDate(dateString: Date) {
  const options: Intl.DateTimeFormatOptions = {
    weekday: "long",
    day: "numeric",
    month: "long",
    year: "numeric",
  };
  const date = new Date(dateString);
  return date.toLocaleDateString("es-ES", options);
}
---

<div class="container">
  <img src="/assets/adesanya-vd-strickland.jpg" />
  {
    event && (
      <div class="eventContainer">
        <h3>{event.eventNumber}</h3>
        <h1>{event.title}</h1>
        <p>{event.information}</p>
        <p>{formatDate(event.fightDate)}</p>
        <Countdown targetDate={event.fightDate} client:visible />
      </div>
    )
  }
</div>

<style>
  img {
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .eventContainer {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: black;
    padding-inline: 50px;
  }
</style>
