---
import { type FighterAPI } from "../types/fighter-api";
const { fighterProp } = Astro.props;
import { apiUrl } from "../services/apiConfig";
import { getFightById } from "../services/fight";

let fighter = fighterProp as FighterAPI;

const fightApi = await getFightById({id : fighter.id.toString()});

let counter = 0;


---

<div class="container">
  <h1>PELEAS DENTRO DE LA COMPAÑÍA</h1>
  {
    fighter.fights.map((fight) => {
      let fighter1 = fightApi[counter].fighters[0] as FighterAPI;
      let fighter2 = fightApi[counter].fighters[1] as FighterAPI;
      console.log(fight.winner);
          console.log(fighter1.id);
      counter = counter + 1;
      return(
        <p>{fight.title}</p>
        <p>Fecha {fight.event.fightDate}</p>
        <p>Round{fight.round}</p>
        <p>Tiempo{fight.time}</p>
        <p>Método{fight.mehtod}</p>
        <p>Peleador 1 : {fighter1.name}</p>
        <p>Peleador 2 : {fighter2.name}</p>
        <>
        {
          fight.winner === fighter.id ? <p>Win</p> : <p>Lost</p>
        }
        </>
      )
    })
  }
</div>
<style>
.container{
  color: black;
  padding-inline: 150px;
}
</style>